:root { 
  --clr-light: rgb(249, 157, 120);
  --clr-white: whitesmoke;
  --clr-lightgray: rgb(109, 128, 145);
  --clr-midgray: rgb(53, 82, 101);
  --clr-darkgray: rgb(42, 64, 76);
  --clr-dark: rgb(28, 39, 43);

  --serif: 'Libre Baskerville', serif;
  --sans-serif:'Nunito', sans-serif
}

*, 
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--sans-serif);
  background-color: var(--clr-white);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  position: relative;
}

.bookcase-grid {
  display: flex;
  flex-wrap: wrap;
  padding-left: .2em;
  width: 33%;
  margin: 0 auto;
  border-left: 2em solid var(--clr-dark);
  border-right: 2em solid var(--clr-dark);
  background-image: linear-gradient(var(--clr-white), var(--clr-white) 4.3rem, 
                                  rgba(28, 39, 43, .7) 4.3rem, rgba(28, 39, 43, .9) 4.8rem, 
                                    var(--clr-dark) 4.9rem, var(--clr-dark) 5.3rem);
  background-size: 10px 5.3rem;
  position: relative;
}

.bookcase-grid:after{
  background-image: url(./assets/plants.png);
  background-size: cover;
  content: '';
  width: 33em;
  height: 15em;
  bottom: 0;
  left: -36em;
  position: absolute;
}

.book {
  background-color: var(--clr-light);
  width: 2.5rem;
  height: 4.1rem;
  border-radius: 2px;
  margin: .6rem .45em;
  color: var(--clr-dark);
  cursor: pointer;
}

.book .book-title {
  text-transform: capitalize;
  margin: .4em -.4em;
  font-size: 1rem;
  transform-origin: 0% 0%;
  transform: rotate(0.25turn) translateY(-35px);
  width: 60px;
  font-family: var(--serif);
}

.book:hover {
  transform: scale(1.1);
}

.selected {
  background-color: var(--clr-midgray);
  color: var(--clr-white);
}

.key {
  width: 95vw;
  min-height: 4em;
  background-color: var(--clr-midgray);
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: .5em;

  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: ". start info";
}

.button {
  grid-area: start;
  cursor: pointer;
  border: 0;
  padding: .5em 1em;
  font-size: 1.2rem;
  font-weight: bolder;
  font-variant: small-caps;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .6);
  position: relative;
  z-index: 1;
  background-color: var(--clr-white);
  color: black;
  border-radius: 10px;
}

/* Hover effects: https://www.youtube.com/watch?v=ceNMP-aQkQ4&t=740s */
.button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(109, 128, 145, .9);
  z-index: -1;
  transform: scale(0);
  transition: transform 100ms ease-in;
  border-radius: 10px;
}

.button:hover::after {
  transform: scale(1);
  border-radius: 10px;
}

.button:hover {
  color: white;
}

.square {
  border: 1px solid var(--clr-light);
  background-color: var(--clr-white);
  border-radius: 10px;
  height: 48px;
  width: 48px;
  margin: 0 1em 0 .5em;
  color: var(--clr-dark);
  line-height: 48px;
  text-align: center;
  font-size: 1.2rem;
}

.info {
  grid-area: info;
  display: flex;
  align-items: center;
  color: var(--clr-white);
}

footer {
  width: 100vw;
  min-height: 4em;
  background-color: var(--clr-darkgray);

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  font-variant: small-caps;
}

.title,
.description,
label {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--clr-white);
  font-weight: bolder;
  padding-right: .5em;
}

.title:hover {
  color: var(--clr-light);
}

.select {
  position: relative;
}

/* Custom select menus: https://www.youtube.com/watch?v=bB14uo0Tu5A */
select {
  width: 450px;
  font-size: 1.2rem;
  padding: .8em 1em;
  background-color: var(--clr-darkgray);
  color: var(--clr-white);
  border: 1px solid var(--clr-white);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .6);
}

select:hover {
  color: var(--clr-light);
}

.custom-arrow {
  background: var(--clr-lightgray);
  display: block;
  height: 100%;
  width: 4em;
  top: 0;
  right: 0;
  position: absolute;
  pointer-events: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid var(--clr-white);
}

.custom-arrow:before,
.custom-arrow:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: translate(-50%, -50%)
}

.custom-arrow:before {
  border-left: .8em solid transparent;
  border-right: .8em solid transparent;
  border-bottom: .8em solid var(--clr-white);
  top: 30%;
}

.custom-arrow:after {
  border-left: .8em solid transparent;
  border-right: .8em solid transparent;
  border-top: .8em solid var(--clr-white);
  top: 65%;
}

.hidden {
  display: none;
}

#book-title,
.author-name {
  line-height: 1;
  font-family: var(--serif);
  font-variant: small-caps;
}

.author-name,
.book-content {
  display: block;
  margin: 1em 0;
}

.author-name {
  margin-left: 2em;
}

.image {
  margin: 0 auto;
  margin-bottom: 1em;
}

.image img {
  max-width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .6);
  border-radius: 2px;
}

.pop-up {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.result {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.result-container {
  margin: 0 auto;
  width: min(95%, 60rem);
  border: 2px solid var(--clr-darkgray);
  border-radius: 10px;
  background-color: rgba(255,255,255, .9);
  padding: 1.5em;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .6);
}

#result-close {
  cursor: pointer;
  border: 0;
  padding: .5em 1em;
  font-size: 1.1rem;
  font-weight: bolder;
  background-color: var(--clr-midgray);
  color: var(--clr-white);
  border: 1px solid var(--clr-dark);
  border-radius: 10px;
}

@media (min-width: 800px) {
  .pop-up {
    top: 17rem;
  }
  .result {
      flex-direction: row;
  }

  .result > * {
      flex-basis: 100%;
  }

  .image {
      margin-right: 1em;
      margin-left: 1em;
  }
}

/* Search Visualization CSS */
.rightBound,
.leftBound {
  background-color: var(--clr-lightgray);
}

.mid{
  background-color: var(--clr-midgray);
}

.match {
  background-color: goldenrod;
}

.searched {
  background-color: var(--clr-dark);
}

#input-display {
  display: none;
  text-align: center;
  border-radius: 5px;
  background-color: var(--clr-white);
  padding: .5em;
  font-variant: normal;
}

@media only screen and (max-width: 1685px) {
  .bookcase-grid {
    width: 70%;
  }
  .bookcase-grid::after {
    width: 11em;
    left: -14em
  }
}

@media only screen and (max-width: 1300px) {
  .bookcase-grid {
    width: 90%;
  }
  .bookcase-grid::after {
    display: none;
  }
  footer {
    flex-direction: column;
  }
  .nav {
    margin: .5em 0;
  }

  .nav>span,
  .nav>label {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1000px) {
  .key {
grid-template-rows: 2;
grid-template-areas: 
". start ."
". info .";
align-items: center;
  }
  .button {
    margin-bottom: 1em;
  }
  .square {
    height: 30px;
    width: 30px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 800px) {
  .key {
    width: 100vw;
    border-radius: 0;
  }

  footer {
    padding-top: .5em;
  }

  .select,
  .custom-arrow,
  .description,
  .title {
    display: none;
  }

  #input-display {
    display: block;
  }
}

@media only screen and (max-width: 680px) {
  .bookcase-grid {
    max-height: 80vh;
    width: 100%;
  }
}